In [105]:
import os
import pandas as pd
py_800_dir = '../data/CodeNet/python_800'

def read_file(file):
    with open(file, 'r') as f:
        return f.read()

data = []
for root, dirs, files in os.walk(py_800_dir):
    for file in files:
        if file.endswith(".py"):
            data.append({'problem_id': root.split('/')[-1], 'submission_id': file.strip('.py'), 'submission': read_file(os.path.join(root, file))})
py800_df = pd.DataFrame(data)
py800_df

,problem_id,submission_id,submission
0,p03494,s642429606,"n=int(input())\na=list(map(int,input().split()..."
1,p03494,s194658803,s = int(input())\ns = input().rstrip().split('...
2,p03494,s575045794,def lo2(n):\n count = 0\n while n%2==0:\...
3,p03494,s476321647,"a = int(input())\nb = list(map(int, input().sp..."
4,p03494,s965275653,"N = int(input())\nA = list(map(int,input().spl..."
...,...,...,...
239995,p02991,s289199974,import sys\ninput = sys.stdin.buffer.readline\...
239996,p02991,s007313054,"from collections import deque\n\nn, m = map(i..."
239997,p02991,s209638769,from collections import defaultdict as dd\nfro...
239998,p02991,s447876624,import sys\nfrom collections import deque\n\n\...
239999,p02991,s141075590,import sys\nimport math\nfrom collections impo...

In [106]:
import pandas as pd
import os

folder = '../data/CodeNet/metadata'
dataframes = []  # list to store all dataframes

for filename in os.listdir(folder):
    if filename.endswith('.csv') and filename != 'problem_list.csv':
        df = pd.read_csv(os.path.join(folder, filename))
        dataframes.append(df)

# concatenate all dataframes
metadata_df = pd.concat(dataframes, ignore_index=True)
py800_metadata = metadata_df[metadata_df['submission_id'].isin(py800_df['submission_id'])]
py800_metadata

/var/folders/52/649zlcmd67lcyfjp21c25b5m0000gn/T/ipykernel_82657/3461264102.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata_df = pd.concat(dataframes, ignore_index=True)

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
1154,s587715745,p03697,u401183062,1601500172,Python,Python (3.8.2),py,Accepted,26.0,9016.0,153,NaN
1161,s922005907,p03697,u910358825,1601374486,Python,Python (3.8.2),py,Accepted,21.0,8996.0,65,NaN
1165,s412641373,p03697,u554784585,1601351167,Python,Python (3.8.2),py,Accepted,25.0,9092.0,76,NaN
1167,s106057175,p03697,u208713671,1601267345,Python,PyPy3 (7.3.0),py,Accepted,65.0,61768.0,89,NaN
1168,s956066354,p03697,u017603316,1601267203,Python,PyPy3 (7.3.0),py,Accepted,70.0,61820.0,101,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13888503,s332272950,p02584,u861886710,1597987977,Python,Python (3.8.2),py,Accepted,28.0,9100.0,299,NaN
13888534,s624091964,p02584,u514687406,1597977553,Python,Python (3.8.2),py,Accepted,29.0,9048.0,341,NaN
13888537,s071031020,p02584,u409306788,1597977223,Python,Python (3.8.2),py,Accepted,27.0,9040.0,270,NaN
13888542,s585564937,p02584,u198336369,1597975895,Python,Python (3.8.2),py,Accepted,30.0,9120.0,463,NaN
13888604,s484272264,p02584,u809495242,1597958845,Python,Python (3.8.2),py,Accepted,27.0,9184.0,190,NaN

In [107]:
# group by problem_id and get the number of submissions for each problem
problem_submissions = py800_metadata.groupby('problem_id').size().reset_index(name='submissions')
problem_submissions

    problem_id  submissions
0       p00000          300
1       p00001          300
2       p00002          300
3       p00003          300
4       p00005          300
..         ...          ...
795     p04035          300
796     p04043          300
797     p04044          300
798     p04046          300
799     p04047          300

[800 rows x 2 columns]

In [108]:
# group the above dataframe by problem_id and count of number of wrong and correct submissions
grouped_df = py800_metadata.groupby('problem_id')['status'].value_counts().unstack().fillna(0)
grouped_df

status      Accepted
problem_id
p00000           300
p00001           300
p00002           300
p00003           300
p00005           300
...              ...
p04035           300
p04043           300
p04044           300
p04046           300
p04047           300

[800 rows x 1 columns]

In [109]:
# read problem_list.csv and make a df
problem_list_df = pd.read_csv(os.path.join(folder, 'problem_list.csv'))
# rename column id to problem_id
problem_list_df.rename(columns={'id': 'problem_id'}, inplace=True)

In [110]:
# enrich py800_metadata with problem_list_df['name']
py800_metadata = py800_metadata.merge(problem_list_df, on='problem_id')
py800_metadata

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy,name,dataset,time_limit,memory_limit,rating,tags,complexity
0,s587715745,p03697,u401183062,1601500172,Python,Python (3.8.2),py,Accepted,26.0,9016.0,153,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
1,s922005907,p03697,u910358825,1601374486,Python,Python (3.8.2),py,Accepted,21.0,8996.0,65,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
2,s412641373,p03697,u554784585,1601351167,Python,Python (3.8.2),py,Accepted,25.0,9092.0,76,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
3,s106057175,p03697,u208713671,1601267345,Python,PyPy3 (7.3.0),py,Accepted,65.0,61768.0,89,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
4,s956066354,p03697,u017603316,1601267203,Python,PyPy3 (7.3.0),py,Accepted,70.0,61820.0,101,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,s332272950,p02584,u861886710,1597987977,Python,Python (3.8.2),py,Accepted,28.0,9100.0,299,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN
239996,s624091964,p02584,u514687406,1597977553,Python,Python (3.8.2),py,Accepted,29.0,9048.0,341,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN
239997,s071031020,p02584,u409306788,1597977223,Python,Python (3.8.2),py,Accepted,27.0,9040.0,270,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN
239998,s585564937,p02584,u198336369,1597975895,Python,Python (3.8.2),py,Accepted,30.0,9120.0,463,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN
239999,s484272264,p02584,u809495242,1597958845,Python,Python (3.8.2),py,Accepted,27.0,9184.0,190,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN

In [111]:
from bs4 import BeautifulSoup
import os

def extract_description(content, dataset_name):
    soup = BeautifulSoup(content, 'html.parser')
    if dataset_name == 'AIZU':
        first_p = soup.find('p')
        description = first_p.text.strip() if first_p else 'NA'
        return description
    elif dataset_name == 'AtCoder':
        first_section = soup.find('section')
        if first_section:
            h3 = first_section.find('h3')
            if h3:
                h3.extract()
            description = first_section.text.strip() if first_section.text else 'NA'
            return description
        
def get_dataset_name(problem_id):
    # gets a row from problem_list_df with the given problem_id
    row = problem_list_df[problem_list_df['problem_id'] == problem_id]
    if not row.empty:
        return row['dataset'].values[0]
            

folder = '../data/CodeNet/problem_descriptions'
contents = []

for filename in os.listdir(folder):
    if filename.endswith('.html'):
        with open(os.path.join(folder, filename), 'r') as f:
            content = f.read()
            dataset_name = get_dataset_name(filename.strip('.html'))
            description = extract_description(content, dataset_name)
            contents.append({"problem_id": filename.strip('.html'), "problem": description})

# create description_df
description_df = pd.DataFrame(contents)
description_df

# merge py800_metadata with description_df
py800_metadata = py800_metadata.merge(description_df, on='problem_id')
py800_metadata

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy,name,dataset,time_limit,memory_limit,rating,tags,complexity,problem
0,s587715745,p03697,u401183062,1601500172,Python,Python (3.8.2),py,Accepted,26.0,9016.0,153,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
1,s922005907,p03697,u910358825,1601374486,Python,Python (3.8.2),py,Accepted,21.0,8996.0,65,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
2,s412641373,p03697,u554784585,1601351167,Python,Python (3.8.2),py,Accepted,25.0,9092.0,76,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
3,s106057175,p03697,u208713671,1601267345,Python,PyPy3 (7.3.0),py,Accepted,65.0,61768.0,89,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
4,s956066354,p03697,u017603316,1601267203,Python,PyPy3 (7.3.0),py,Accepted,70.0,61820.0,101,NaN,AtCoder Beginner Contest 063 - Restricted,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given two integers A and B as the inpu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,s332272950,p02584,u861886710,1597987977,Python,Python (3.8.2),py,Accepted,28.0,9100.0,299,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."
239996,s624091964,p02584,u514687406,1597977553,Python,Python (3.8.2),py,Accepted,29.0,9048.0,341,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."
239997,s071031020,p02584,u409306788,1597977223,Python,Python (3.8.2),py,Accepted,27.0,9040.0,270,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."
239998,s585564937,p02584,u198336369,1597975895,Python,Python (3.8.2),py,Accepted,30.0,9120.0,463,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."
239999,s484272264,p02584,u809495242,1597958845,Python,Python (3.8.2),py,Accepted,27.0,9184.0,190,NaN,AtCoder Beginner Contest 175 - Walking Takahashi,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Takahashi, who lives on the number line, is no..."

In [112]:
# group by py800_metadata by dataset and get the number of problems in each dataset
problems_in_dataset = py800_metadata.groupby('dataset')['problem_id'].nunique().reset_index(name='problems')
problems_in_dataset

   dataset  problems
0     AIZU        68
1  AtCoder       732

In [113]:
# randomly sample 10 problems from each dataset
sampled_problems = py800_metadata.groupby('dataset').apply(lambda x: x.sample(n=10)).reset_index(drop=True)
sampled_problems

/var/folders/52/649zlcmd67lcyfjp21c25b5m0000gn/T/ipykernel_82657/114353386.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_problems = py800_metadata.groupby('dataset').apply(lambda x: x.sample(n=10)).reset_index(drop=True)

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy,name,dataset,time_limit,memory_limit,rating,tags,complexity,problem
0,s184698479,p02259,u722558010,1440880886,Python,Python3,py,Accepted,40.0,7704.0,259,10/10,Bubble Sort,AIZU,1000.0,131072.0,NaN,NaN,NaN,Write a program of the Bubble Sort algorithm w...
1,s753588319,p02421,u203261375,1511057305,Python,Python3,py,Accepted,30.0,7720.0,233,4/4,Card Game,AIZU,1000.0,131072.0,NaN,NaN,NaN,Taro and Hanako are playing card games. They h...
2,s875909087,p02415,u482227082,1596438352,Python,Python3,py,Accepted,20.0,5556.0,103,4/4,Toggling Cases,AIZU,1000.0,131072.0,NaN,NaN,NaN,Write a program which converts uppercase/lower...
3,s978248662,p02267,u072053884,1448124685,Python,Python3,py,Accepted,120.0,8328.0,249,10/10,Linear Search,AIZU,1000.0,131072.0,NaN,NaN,NaN,You are given a sequence of n integers S and a...
4,s181211327,p02419,u782850499,1490578237,Python,Python3,py,Accepted,20.0,7420.0,257,4/4,Finding a Word,AIZU,1000.0,131072.0,NaN,NaN,NaN,Write a program which reads a word W and a tex...
5,s936796954,p02257,u279605379,1495264041,Python,Python3,py,Accepted,950.0,7700.0,285,4/4,Prime Numbers,AIZU,1000.0,131072.0,NaN,NaN,NaN,A prime number is a natural number which has e...
6,s404716196,p02421,u967268722,1556123814,Python,Python3,py,Accepted,20.0,5596.0,320,4/4,Card Game,AIZU,1000.0,131072.0,NaN,NaN,NaN,Taro and Hanako are playing card games. They h...
7,s121041453,p02401,u093488647,1556002714,Python,Python3,py,Accepted,20.0,5664.0,316,5/5,Simple Calculator,AIZU,1000.0,131072.0,NaN,NaN,NaN,"Write a program which reads two integers a, b ..."
8,s841079849,p02233,u104259918,1596026151,Python,Python3,py,Accepted,20.0,5608.0,308,10/10,Fibonacci Number,AIZU,1000.0,131072.0,NaN,NaN,NaN,Write a program which prints $n$-th fibonacci ...
9,s514995800,p02380,u876889037,1559176585,Python,Python3,py,Accepted,20.0,5724.0,554,4/4,Triangle,AIZU,1000.0,131072.0,NaN,NaN,NaN,For given two sides of a triangle a and b and ...
10,s557528027,p03687,u094999522,1595712776,Python,Python (3.8.2),py,Accepted,58.0,9396.0,399,NaN,AtCoder Grand Contest 016 - Shrinking,AtCoder,2000.0,262144.0,NaN,NaN,NaN,Snuke can change a string t of length N into a...
11,s937098455,p03311,u345966487,1587270642,Python,Python (3.4.3),py,Accepted,204.0,25184.0,141,NaN,AtCoder Regular Contest 100 - Linear Approxima...,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,Snuke has an integer sequence A of length N.\n...
12,s436467635,p03826,u119148115,1595222799,Python,PyPy3 (7.3.0),py,Accepted,68.0,61796.0,110,NaN,AtCoder Beginner Contest 052 - Two Rectangles,AtCoder,2000.0,262144.0,NaN,NaN,NaN,There are two rectangles.\nThe lengths of the ...
13,s243674127,p02866,u170183831,1589572868,Python,Python (3.4.3),py,Accepted,172.0,19936.0,375,NaN,NIKKEI Programming Contest 2019-2 - Counting o...,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,"Given is an integer sequence D_1,...,D_N of N ..."
14,s203607694,p03340,u111365362,1581712812,Python,PyPy3 (2.4.0),py,Accepted,915.0,147116.0,850,NaN,AtCoder Beginner Contest 098 - Xor Sum 2,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,There is an integer sequence A of length N.\nF...
15,s995547267,p02646,u934119021,1593224752,Python,Python (3.8.2),py,Accepted,32.0,9068.0,209,NaN,Tokio Marine & Nichido Fire Insurance Programm...,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,Two children are playing tag on a number line....
16,s381861957,p03472,u222668979,1597890810,Python,PyPy3 (7.3.0),py,Accepted,219.0,84312.0,400,NaN,AtCoder Beginner Contest 085 - Katana Thrower,AtCoder,2000.0,262144.0,NaN,NaN,NaN,"You are going out for a walk, when you suddenl..."
17,s354422770,p03828,u223663729,1584401574,Python,Python (3.4.3),py,Accepted,31.0,3064.0,543,NaN,AtCoder Beginner Contest 052 - Factors of Fact...,AtCoder,2000.0,262144.0,NaN,NaN,NaN,You are given an integer N.\nFind the number o...
18,s266188411,p02972,u465101448,1597246192,Python,PyPy3 (7.3.0),py,Accepted,142.0,106580.0,574,NaN,AtCoder Beginner Contest 134 - Preparing Boxes,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,There are N empty boxes arranged in a row from...
19,s098527314,p02910,u132052531,1594359545,Python,Python (3.8.2),py,Accepted,32.0,9104.0,116,NaN,AtCoder Beginner Contest 141 - Tap Dance,AtCoder,2000.0,1048576.0,NaN,NaN,NaN,Takahashi will do a tap dance. The dance is de...

In [116]:
# save py800_metadata to a csv file
py800_metadata.to_json('../data/CodeQualData/py800_metadata.jsonl', orient='records', lines=True)

In [117]:
# just get the problem_id and description columns from py800_metadata
py800_metadata_problems_description = py800_metadata[['problem_id', 'problem']].drop_duplicates()
py800_metadata_problems_description

       problem_id                                            problem
0          p03697  You are given two integers A and B as the inpu...
300        p02576  Takahashi loves takoyaki - a ball-shaped snack...
600        p03126  Katsusando loves omelette rice.\nBesides, he l...
900        p02238  Depth-first search (DFS) follows the strategy ...
1200       p02953  There are N squares arranged in a row from lef...
...           ...                                                ...
238500     p02553  Given are integers a,b,c and d.\nIf x and y ar...
238800     p03665  There are N bags of biscuits. The i-th bag con...
239100     p03103  Hearing that energy drinks increase rating in ...
239400     p03671  Snuke is buying a bicycle.\nThe bicycle of his...
239700     p02584  Takahashi, who lives on the number line, is no...

[800 rows x 2 columns]

In [118]:
# save py800_metadata_problems_description to a jsonl file
py800_metadata_problems_description.to_json('../data/CodeQualData/py800_metadata_problem_desc.jsonl', orient='records', lines=True)

In [ ]:
# from py800_df, randomly sample 15 submissions from each problem
sampled_submissions = py800_df.groupby('problem_id').apply(lambda x: x.sample(n=15)).reset_index(drop=True)
# for each row, copy files from py_800_dir to a new directory called py800_sampled
for index, row in sampled_submissions.iterrows():
    problem_id = row['problem_id']
    submission_id = row['submission_id']
    src = os.path.join(py_800_dir, problem_id, submission_id + '.py')
    dst = os.path.join('../data/CodeQualData/py800_sampled', problem_id, submission_id + '.py')
    os.makedirs(os.path.dirname(dst), exist_ok=True)
    os.system(f'cp {src} {dst}')

/var/folders/52/649zlcmd67lcyfjp21c25b5m0000gn/T/ipykernel_82657/3902192237.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_submissions = py800_df.groupby('problem_id').apply(lambda x: x.sample(n=15)).reset_index(drop=True)

In [ ]:
# for each submission in the ../data/CodeQualData/py800_sampled directory, get the number of lines of code
data = []
for root, dirs, files in os.walk('../data/CodeQualData/py800_sampled'):
    for file in files:
        if file.endswith(".py"):
            with open(os.path.join(root, file), 'r') as f:
                lines = f.readlines()
                data.append({'problem_id': root.split('/')[-1], 'submission_id': file.strip('.py'), 'lines_of_code': len(lines)})
            
#order by descending order of lines_of_code
lines_of_code_df = pd.DataFrame(data)
lines_of_code_df = lines_of_code_df.sort_values(by='lines_of_code', ascending=False)
lines_of_code_df

      problem_id submission_id  lines_of_code
1530      p03263    s081852819            213
9782      p02889    s264554810            204
11257     p02763    s028612805            201
989       p02585    s216662009            187
254       p02577    s401640981            184
...          ...           ...            ...
7339      p03030    s335400674              1
1837      p02717    s013147790              1
680       p02711    s261077690              1
2773      p02664    s946768430              1
10854     p03079    s814897440              1

[11999 rows x 3 columns]

In [ ]:
# for each submission in the ../data/CodeQualData/py800_sampled directory, get the size of the file
data = []
for root, dirs, files in os.walk('../data/CodeQualData/py800_sampled'):
    for file in files:
        if file.endswith(".py"):
            data.append({'problem_id': root.split('/')[-1], 'submission_id': file.strip('.py'), 'size': os.path.getsize(os.path.join(root, file))})

#order by descending order of size
size_df = pd.DataFrame(data)
size_df = size_df.sort_values(by='size', ascending=False)
size_df

      problem_id submission_id    size
816       p03291    s588652634  203669
10258     p02595    s640688773   18197
11257     p02763    s028612805    5675
4441      p03108    s064812745    5311
973       p03033    s924887468    5230
...          ...           ...     ...
7138      p03860    s137913429      24
5438      p02705    s830498560      23
8911      p02645    s588243125      23
10679     p03643    s424086712      22
10686     p03643    s785696424      21

[11999 rows x 3 columns]